---
---

@import "{{ site.theme }}";

p {
  text-indent: 2em;
  padding-bottom:10px;
}

figure {
  margin: auto;

}

figcaption {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding: 2em
}

