---
---

@import "{{ site.theme }}";

p {
  text-indent: 2em;
  padding-bottom:10px;
}

figure {
  margin: auto;
}

figcaption {
  font-style: italic;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}

.EHR {
  text-align: center;
  color: lightgrey;
  font-weight: bold;
}
